

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;

}


/* styling navbar */

.Navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    height: 10vh;
    /* background-color: aqua; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1.5px solid #dadada;
}

.list .nav{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin-right: 3rem;
}


.list .nav:hover{
    border-bottom: 3px solid black;
}

.search{
    width: 20%;
    height: 45%;
}

.search input{
    box-shadow: 5px 5px 2px #dadada;
    width: 100%;
    height: 100%;
    border: none;
    padding: 1.3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    outline: none;
    background-color: #f6f0f0;
}


.cart-icon{
    width: 70px;
    height: 50%;
    position: relative;
}

.cart-icon p{
    position: absolute;
    top: 15px;
    left:28px;
    font-size: 1.6rem;
    font-weight: bolder;
    color: red;
}

.cart-icon svg{
    width: 100%;
    height: 100%;
}


/* styling the home page */

.home{
    width: 100%;
    min-height: 90vh;
    margin-top: 5.3rem;
}

.banner{
    width: 100%;
    height: 11vh;
    background-color: rgb(1, 59, 1);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.2rem;
}


.banner button{
    width: 150px;
    height: 40px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}


.top-section{
    width: 100%;
    min-height: 30vh;
    padding: 0 6.2vw;
    margin-top: 3rem;
}

.top-section h2{
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 66, 3);
    margin-bottom: 2rem;
}

.top-section .items{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.top-section .items .it{
    width: 55%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
}

.nav2{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}

.nav2 p{
    margin-left: 2.5rem;
    font-size: 1.2rem;
}

.top-section .items .it img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .3s linear;
}

.top-section .items .it img:hover{
    scale: 1.2;
    /* border: 2px solid green; */
}

.ban{
    width: 100%;
    height: 44vh;
    padding: 0 6.2rem;
    margin-top: 10rem;
}

.ban img{ 
    width: 100%;
    height: 100%;
}


.last-section{
    width: 100%;
    height: 64vh;
    padding: 0 6.2rem;
    margin-top: 6rem;
}

.last-section .slider{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.last-section .slider h2{
   
    font-size: 1.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 66, 3);
    margin-bottom: 2rem;

}


.slide-icons svg{
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}


.cofee-container{
    max-width:100%;
    min-height:100%;
    padding: 0 .6rem;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.cofee-container::-webkit-scrollbar{
    display: none;
}


.cofee-card{
    border-radius: 20px;
    margin-top: 20px;
    width: 460px;
    /* border: 4px solid #dadada; */
    height: 90%;
    margin-right: 52px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 2px #dadada;
}

.cofee-card .card-img{
    cursor: pointer;
    width: 440px;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    
}

.cofee-card .card-img img{
    width:460px;
    height:100%;
    object-fit: cover;
    
}

.cofee-card h2{
    margin-block: 1.5rem;
    padding: 0 .6rem;
}

.cofee-card p{
    margin-bottom: 1rem;
    padding: 0 .6rem;

}


.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .6rem;
}

.price p{
    font-size: 1.3rem;
    font-weight: 900;
    color: #646262;
}

.price .addcart{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(2, 79, 2);
    cursor: pointer;
}

.footer{
    margin-top: 7rem;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items:flex-start;
    padding-top: 4rem;
    justify-content: space-around;
    background-color: rgb(1, 67, 1);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foot{
    display: flex;
    height: 80%;
    flex-direction: column;
    gap: 30px;
}

.foot h2{
    font-weight: 800;
    cursor: pointer;
}

.foot p{
    font-size: 1.3rem;
    color: #dadada;
    transition: all .3s linear;

}

.foot p:hover{
    cursor: pointer;
    color: white;
}


.foot-icons{
    display: flex;
    gap: 30px;
}

.foot-icons svg{
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s linear;
}

.foot-icons svg:hover{
    color:gray;
}

/* styling cart */

.cart{
    width: 100%;
    height: 90vh;
    margin-top: 6.2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.cart aside{
    display: flex;
    padding-left: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
    box-shadow: -10px 10px 10px #dadada;
}

.cart aside .aside-img{
    width: 100%;
    height: 40%;
}

.cart aside .aside-img img{
    width: 100%;
    height: 100%;

}


.note p{
    font-size: 1.2rem;
    font-weight: 500;
}



/* add scroller */
.cart main{
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
}

.cart-item{
    padding-block: 1rem;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid  #dadada;
    margin-bottom: 20px;
}

.cart-item .cart-img{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    cursor: pointer;
}

.cart-item .cart-img h2{
    font-size: 20px;
    color: #4f4f4f;
}


.cart-item .cart-img img{
    width: 80%;
    height: 120px;
    border-radius: 10px;
}


.handlers{
    display: flex;
    align-items: center;
    gap: 30px;
}

.handlers button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.handlers p{
    font-size: 1.5rem;
}

.delete svg{
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s linear;
}

.delete svg:hover{
    color: red;
}


/* styling product page */

.products{
    width: 100%;
    /* min-height: 90vh; */
    margin-top: 6.5rem;
    padding: 0 1rem;
}

.products h1{
    margin-block: 2rem;
    padding: 0 5.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(4, 76, 4);
}



.food-items{
    width:100%;
    padding: 0 5.5rem;
    min-height: 45vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

}



.f-item{
    box-shadow: 7px 7px 10px #dadada;
    width: 20%;
    height: 60%;
    border-radius:20px;
    overflow: hidden;
    }


.f-img{
    width: 100%;
    height: 50%;
}

.f-img img{
    width: 100%;
    height: 100%;
}

.f-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 .5rem; 
}

.f-price{
    display: flex;
    padding: 1rem .5rem;
    margin-top: 1.5rem;
    justify-content: space-between;

}

.f-price p{
    font-size: 1.3rem;
    font-weight: bolder;
}

.f-price button{
    width: 130px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    height: 40px;
    background-color: rgb(2, 62, 2);
    color: white;
    cursor: pointer;
}

.f-img p{
    font-size: 1.3rem;
}

/* responsiveness */

@media  screen and (max-width:850px) {

    .search{
        display: none;
    }

    .logo{ 
        width:20%;
    }
    
    .logo h1{
        font-size: 1.3rem;
    }

    .list .nav{
        font-size: 1rem;
    }

    .list{
        gap:5px;
        justify-content: space-around;
    }

    .cart-icon{
      width:50px;
    }

    .cart-icon p{
        top: 12px;
        left: 20px;
        font-size: 1.3rem;
    }

    /* top-section */

    .top-section {
       min-height:50vh;
       padding: 0 0;
    }
    
    .top-section .items {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        width: 100%;
        gap: 30px;
        
    }

    .top-section h2{
        text-align: center;
    }

    .nav2{
        flex-direction: row;
    }

    .banner h2{
      font-size: 1rem;
    }

    
.top-section .items p{
    display: none;
}
    .top-section .items .it{
        width: 70%;
    }


    .del{
        display: none;
    }

}



@media screen  and (max-width:550px){
    
    .home{
        width: 100%;
    }

    .slide-icons{
        display: none;
    }

    .cofee-container{
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        gap: 30px;
        overflow: visible;
        max-width: 100%;
        min-height: 90vh;
        padding: 0 0;
    }

    .cofee-card{
        width: 330px;
        margin-right: 20px;
        height: 100%;
    }

    .footer{       
        margin-top: 184rem;
    }

    .ban{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ban img{
        width: 350px;
    }



    .last-section .slider h2{
    
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .slide-icons svg{
        font-size: 1rem;
    }

    .cofee-card .card-img{
        width: 330px;
        height: 35%;
    }
}



@media screen and (max-width:460px){

    .logo{
        width: 26%;
    }
    .logo h1{
        font-size: 1.2rem;
    
    }


    .banner{
        display: flex;
        justify-content: center;
        width:420px;
        margin-left: 10px;
    }
    .banner h2{
        display: none;
    }


    .top-section{
        margin-left: 20px;
    }

    .ban{
        width: 430px;
    }

    .cofee-container{
        margin-left: 56px;
    }

    .list .nav{
        font-size: 1rem;
        margin-right: 12px;
    }

    .cart-icon{
        width: 32px;
    }

    .cart-icon p{
        left: 13px;
        top: 5px;
        font-size: 1rem;
    }

    .footer{
      padding-inline:2rem;
      gap: 20px;
      width: 440px;
    }

    .del2{
        display: none;
    }



   .foot h2{
        font-size: 1.5rem;
    }
}


@media screen and (max-width:400px) {

    .cart-icon p{
        font-size: .9rem;
        top: 6px;
    }

    .banner{
        width: 420px;
    }
    
}


@media screen and (max-width:380px) {

    .cofee-container{
        margin-left: 80px;
    }
    
}


@media screen and (max-width:330px) {
  
    .top-section{
        margin-left: 50px;
    }
    
}



/* responsiveness of product page */
 
 @media screen and (max-width:1340px){

    .products{
        width: 100%;
    }

    .food-items{
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }

    .f-item{
        width: 30%;
    }

    
}

@media screen and (max-width:830px){

    .f-item{
        width: 40%;
    }

    .products h1{
        font-size: 1.7rem;
    }
    
}


@media screen and (max-width:650px) {

    .f-item{
        width: 46%;
        justify-content: center;
    }
    
}

@media screen and (max-width:580px) {

    .products h1{
        text-align: center;
    }
    
    .f-item{
        width: 100%;
    }

  
    
    
}


@media screen and (max-width:450px) {

   .products .food-section{
        width: 100%;
    }

    .food-items{
        justify-content: center;
        width:100%;
        padding: 0 0;
        
    }

 
      .f-item{
        width:98%;
      }
    

    
}

@media screen and (max-width:400px){

    .food-items{
        width: 100%;
        margin-left: 30px;
    }

    .f-item{
        width: 100%;
    }
    
}

@media screen and (max-width:350px){

    .food-items{
        width: 100%;
        margin-left: 40px;
    }

    .f-item{
        width: 100%;
    }

  
 .last-section .slider h2{
    display: none;
 }    
    
}
  
  


/* responsiveness of cart page */

@media  screen and (max-width:550px) {
    .cart aside{
        padding-left:1rem;
    }
    

    .cart-item{
        flex-direction: column;
        height: 50vh;
        gap: 20px;
        align-items: center;
        margin-left: 30px;
        border: none;
    }
    
    .cart-item .cart-img{
        width: 100%;
    }
    
}



